@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

hr {
  @apply h-[3px] border-none rounded mt-[-3px];
}

h1 {
  @apply text-lg font-semibold w-max;
}

.overflowy-scrolly {
  @apply overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full;
}

button.modal {
  @apply px-1 border-2 border-newBlue rounded-md hover:bg-newBlue hover:text-white;
}

input {
  @apply p-2 bg-gray-200 rounded-md border-none focus:bg-white block w-full mb-3;
}

textarea {
  @apply p-2 bg-gray-200 rounded-md border-none focus:bg-white h-28 block w-full mb-3;
}

select {
  @apply appearance-none p-2 bg-gray-200 rounded-md border-none focus:bg-white block w-full mb-3;
}

.custom-hover:hover {
  background-color: var(--hover-color);
}
